@import url('global.css');

nav {
	/* Align all of the element to the left */
	text-align: left;
	font-size: 25px;
	padding: 5px;
}

nav a {
	padding-left: 20px;
}

body {
	color: #FEFEFE;
	background-color: #0c0d10;
	margin: auto;
	padding: 0px;
	font-size: 12px;
	height: 100%;
}

#content {
	font-size: 14px;
	font-family: 'JetBrains Mono', monospace;

	margin-top: 15%;

	margin-left: 20%;
	margin-right: 20%;

	margin-bottom: 0;
	padding-bottom: 0;

	text-align: left;
}
